page-salinitas {
	.item-md.item-input.input-has-focus .item-inner {
		box-shadow: none;
	}
	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
		box-shadow: none;
		border-color: #dedede;
	}
	.scroll-content{
    	overflow-y: hidden;
	}
	.bunder1{
		margin: 0 auto;
		border-radius: 50%;
		display: inline-block;
    	z-index: 1;
		background-image: url('../assets/icon/bg.svg') !important;
	    background-repeat: no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	}
	.bunder2{
		margin: 17px;
		height: 250px;
		width: 250px;
		border-radius: 50%;
		display: inline-block;
    	z-index: 2;
	 	svg{
	 		position: relative !important;
	 	}
	}
	.cobak{
	    width: 100%;
	    height: 100vh;
	    background-color: #292929;
	    bottom: -300px;
	    position: fixed; 
    	padding-top: 30vh;
    	transition:1s;
		.cobak2{
		    z-index: 2;
		    position: absolute;
		    top: 24vh;
		    display: flex;
		    width: 100%;
			.aass{
				position: absolute;
			    width: 80%;
		   		top: -20px;
			    left: 20%;
			    padding: 3px 0px 2px 0px;
			    border-radius: 20px;
			    transform: translateX(-12%);
			    background-color: #72DAE6;
				.labele1{
				    background-color: #292929;
				    color: #fff;
				    display: inline-block;
				    position: relative;
				    padding: 2px 10px 2px 10px;
				    border-radius: 20px;
				    left: 25%;
					transform: translateX(-50%);
				}
				.labelmin{
				    display: inline-block;
				    position: relative;
				    left: 36%;
				    transform: translateX(-50%);
				}
				.labele2{
				    background-color: #292929;
				    color: #fff;
				    display: inline-block;
				    position: relative;
				    padding: 2px 10px 2px 10px;
				    border-radius: 20px;
				    left: 65%;
					transform: translateX(-50%);
				}
			}
		}
	}
	.bitton{
		font-family:'Segoe UI';
		font-weight: lighter;
		margin: 0 auto;
    	margin-top: 60px;
    	text-align: center;
		.aaa{
	    font-size: 13pt;
			width: 80%;
			padding: 3px;
			display: inline-block;
	    background-color: #4472ab;
	    color: #fff;

	    &:active{
				background: #6cc4a3;
			}
		}
	}
	.item-md {
	    width: 100%;
	    padding: 0px !important;
	    background-color: transparent;
	    margin: 0% 4% 0% 4%;
	}
	.text-input-md{
		color: #fff;
	}
	.item-inner{
		padding: 0px !important;
	}
	.ket{
	    position: absolute;
	    width: 100%;
		display: flex;
		text-align: center;
		font-family:'Segoe UI';
		font-weight: lighter;
		.low{
    		padding-right: 20%;
			width: 50%;
			.ongko{
				    font-size: 12pt;
				    color: #fff;
			}
			.keteranan{
				font-size: 9pt;
				margin-top: 5px;
				display: inline-block;
				border-radius: 50px;
				padding: 3px 10px 3px 10px;
				background-color: #c85454;
				color: #fff;
			}
		}
		.high{
    		padding-left: 20%;
			width: 50%;
			.ongko{
				    font-size: 12pt;
				    color: #fff;
			}
			.keteranan{
				font-size: 9pt;
				margin-top: 5px;
				display: inline-block;
				border-radius: 50px;
				padding: 3px 10px 3px 10px;
				background-color: #4472ab;
				color: #fff;
			}
		}
	}
	.history{
	    width: 100%;
	    height: 100vh;
	    background: #222;
	    position: fixed;
    	z-index: 10;
		display: flex;
		flex-direction: column;
		font-family:'Segoe UI';
		font-weight: lighter;
    	.row1{
    		flex-grow: 1;
			.iconback{
				font-size: 2.2em !important;
				margin:10px;
				position: absolute;
			}
			.judul{
			    color: #fff;
			    margin: 0 auto;
			    text-align: center;
			    font-size: 18pt;
			    margin-top: 5px;
			    margin-bottom: 5px;
			}	
    	}
    	.row2{
    		flex-grow: 32;
    		overflow:auto;
    		table{
			    width: 100%;
			    background-color: #333;
			    margin: 0 auto;
			    text-align: center;
			    color: #fff;
    			margin-bottom: 52px;
			    td{
			    	padding: 5px;
			    	.sbad{
			    		background-color: #c85454;
    					border-radius: 10px;
					    display: inline-block;
					    padding: 2px 8px 2px 8px;
			    	}
			    	.sgood{
			    		background-color: #4472ab;
    					border-radius: 10px;
					    display: inline-block;
					    padding: 2px 8px 2px 8px;
			    	}
			    }
			    .jud{
			    	font-size: 14pt;
			    }
			    .tre{
			    	background-color: rgba(34,34,34,.5);
			    }
    		}
    	}
	}
}
