page-home {
	.grafikph{
		top:0px;
		width: 40% !important;
    	transform: translate(10%, 0px);
	}
	.grafiksuhu{
		top:0px;
		width: 40% !important;
    	transform: translate(138%, 0px);
	}
	.grafiksal{
		top:0px;
		width: 40% !important;
    	transform: translate(10%, 100%);
	}
	.grafiktur{
		top:0px;
		width: 40% !important;
    	transform: translate(138%, 100%);
	}
	.bak{
		position: fixed;    
		z-index: -1;
	    transform: translate(-34%, -53%);
	    width: 313%;
	    height: 100vh;
	    border-radius: 50%;
	    box-shadow: 0px 515px 0 0 #292929;
	}
	.logo{	
	    background-image: url('../assets/icon/logo.svg') !important;
	    position: absolute;
	    width: 40px;
	    height: 40px;
	    top: 23%;
	    left: 50%;
	    transform: translate(-50%);
	}
	.detailgrafik{
	    height: 100vh;
	    transform: translate(0%,50%);
	    color: #83D1DE;
	    font-family: 'Segoe UI' !important;
	    font-weight: lighter !important;
	    h1{
		    font-family: 'Segoe UI' !important;
		    font-weight: lighter !important;
		    text-align: center;
	    }
	    table{
	    	margin-top: 20px;
	    	tr{
	    		td{
	    			padding: 5px;
	    			.good{
	    				text-align: center;
	    				background-color: #00bc96;
	    				color: #333;
	    				border-radius: 20px;
	    				padding: 0px 5px 0px 5px;
	    			}
	    			.bad{
	    				text-align: center;
	    				background-color: #bd6666;
	    				color: #333;
	    				border-radius: 20px;
	    				padding: 0px 5px 0px 5px;
	    			}
	    		}
	    	}
	    }
	}
	.scroll-content{
		overflow-y: hidden !important;
	}
	.toolbar-content-md{
	    text-align: center;
	    font-size: 18pt;
	    font-family: 'Segoe UI' !important;
	    font-weight: lighter !important;
	}
}
